---
---

@import "{{ site.theme }}";

$blue: #2879d0;

.navigation-buttons {
    display: flex;
    justify-content: flex-end;
    a {
        margin-left: .75rem;
        border: 1px solid $blue;
        padding: 0.25rem 0.5rem;
        background-color: $blue;
        color: #fff;
        flex: .1;
        text-align: center;
    }
}

#content-wrapper {
    padding-top: 1rem;
}
