<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
      media="screen"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/print.css' | relative_url }}"
      media="print"
      type="text/css"
    />
    {% seo %} {% include head-custom.html %}
  </head>

  <body>
    <header>
      <a href="{{ '/' | absolute_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
    </header>

    <div id="content-wrapper">
      <div class="inner">
        <aside id="sidebar">
          <ul>
            <li>
              <a href="{{'/widgets/' | relative_url}}"
                >Tutorial: Make a New VA.gov React Widget</a
              >
            </li>

            <li>
              <a href="{{'/widgets/introduction' | relative_url}}"
                >An Introduction</a
              >
            </li>
            <ul>
              <li>
                <a
                  href="{{'/widgets/introduction/1-local-env-setup' | relative_url}}"
                  >Local Environment Setup</a
                >
              </li>
              <li>
                <a href="{{'/widgets/introduction/2-widget' | relative_url}}"
                  >What is a VA.gov React Widget?</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/introduction/3-static-pages' | relative_url}}"
                  >The static-pages Application</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/introduction/4-conditional-mounting' | relative_url}}"
                  >The Conditional Widget Mounting Pattern</a
                >
              </li>
            </ul>
            <li>
              <a href="{{'/widgets/scaffolding' | relative_url}}"
                >Scaffolding</a
              >
            </li>
            <ul>
              <li>
                <a
                  href="{{'/widgets/scaffolding/1-feature-branch' | relative_url}}"
                  >Create a Feature Branch</a
                >
              </li>
              <li>
                <a href="{{'/widgets/scaffolding/2-widget-id' | relative_url}}"
                  >Add a New Widget Identifier</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/3-widget-directory' | relative_url}}"
                  >Create a Directory for the Widget</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/4-component-directory' | relative_url}}"
                  >Create a Directory for the React Component</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/5-create-component' | relative_url}}"
                  >Create a Basic React Component</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/6-mount-widget' | relative_url}}"
                  >Conditionally Mount the Widget</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/7-create-widget' | relative_url}}"
                  >Call the Widget's "create" Function</a
                >
              </li>
              <li>
                <a
                  href="{{'/widgets/scaffolding/8-view-widget' | relative_url}}"
                  >View Your Widget</a
                >
              </li>
            </ul>
            <li>
              <a href="{{'/widgets/testing' | relative_url}}"
                >Writing Unit Tests</a
              >
            </li>
            <ul>
              <li>
                <a href="{{'/widgets/testing/1-react-test' | relative_url}}"
                  >Write a Unit Test for the React Component</a
                >
              </li>
              <li>
                <a href="{{'/widgets/testing/2-widget-test' | relative_url}}"
                  >Write a Unit Test for the Widget's "create" Function</a
                >
              </li>
            </ul>
          </ul>
        </aside>
        <section id="main-content">
          <div class="content">{{ content }}</div>
          <div class="navigation-buttons">
            {% if page.previous %}
            <a href="{{ page.previous | relative_url }}">Back</a>
            {% endif %} {% if page.next %}
            <a href="{{ page.next | relative_url }}">Continue</a>
            {% endif %}
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
